{
    "extends": "eslint:recommended",
    "env": {
      "browser": true,
      "node": true,
      "es6": true
    },
    "rules": {
      "no-multi-spaces": "error",
      "space-infix-ops": "error",
      "space-unary-ops": "error",
      "no-whitespace-before-property": "error"
    }
  }
  